 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/4015633/images/pexels-photo-1029615.jpeg");
  background-position: 100% 57.97%;
  background-size: 130%;
}

.u-section-1 .u-sheet-1 {
  min-height: 362px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  width: 838px;
  margin: 80px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 30px auto 60px;
  padding: 16px 53px 17px 52px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 654px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  width: 511px;
  margin: 35px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 50px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 312px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 79px;
  width: 79px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 15px;
}

.u-section-2 .u-text-3 {
  width: 187px;
  margin: 35px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 35px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 79px;
  width: 79px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 15px;
}

.u-section-2 .u-text-5 {
  width: 187px;
  text-transform: none;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 35px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 35px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 79px;
  width: 79px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 15px;
}

.u-section-2 .u-text-7 {
  width: 187px;
  text-transform: none;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 35px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 35px 0 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 254px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 627px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1352px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 466px;
}

.u-section-3 .u-social-icons-1 {
  height: 62px;
  min-height: 16px;
  width: 260px;
  min-width: 122px;
  margin: -101px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-text-1 {
  width: 814px;
  margin: 45px auto 0;
}

.u-section-3 .u-text-2 {
  width: 912px;
  margin: 40px auto -101px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: -83px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-bottom: -83px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/4015633/images/pexels-photo-325185.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 827px;
}

.u-section-4 .u-form-1 {
  background-image: none;
  height: 772px;
  width: 679px;
  margin: 60px auto;
}

.u-section-4 .u-text-1 {
  margin-left: 0;
  font-weight: 700;
}

.u-section-4 .u-form-group-5 {
  margin-left: 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
}

.u-section-4 .u-back-image-1 {
  height: 120px;
}

.u-section-4 .u-back-image-2 {
  height: 120px;
}

.u-section-4 .u-back-image-3 {
  height: 120px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 10px 107px 10px 105px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 682px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-4 .u-form-1 {
    width: 540px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-back-image-1 {
    object-position: 50% 27.5%;
  }

  .u-section-4 .u-back-image-2 {
    object-position: 50% 27.5%;
  }

  .u-section-4 .u-back-image-3 {
    object-position: 50% 25.05%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }
}